/* src/App.module.css */

@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.logo {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: none; /* Remove underline */
  }
  
  .bannerText {
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none; /* Remove underline */
    font-family: 'Poppins', sans-serif; /* You can change this to any cool font you prefer */
    color: #FFFFFF;
    padding: 20px 40px; /* Add padding to left and right sides */
    margin: 20px auto; /* Center the container */
    border-radius: 10px;
    max-width: 500px; /* Optional: limit the max width */
    animation: slideUp 1s ease-out;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .highlight2 {
    font-weight: bold;
    color: #0a362a;
  } 
  
  .highlight2 a {
    text-decoration: none; 
    color: inherit; /* Inherit the color from the parent element */
  }
  
  .highlight2 a:hover {
    text-decoration: underline; 
    color: inherit; /* Ensure the color stays the same on hover */
  }
  
  
  
  .featuresSection {
    display: flex;
    flex-direction: column; /* Stack items vertically on mobile */
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-color: #70C7BA;
    color: #231F20;
  }
  
  .mainFeatures {
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
  }


  .featuresImage {
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .featuresText {
    margin-right: 20px;
    max-width: 900px;
    padding: 40px; 
  }
  
  .featuresText h2 {
    font-family: 'Poppins', sans-serif; /* You can change this to any cool font you prefer */
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .featuresText ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .featuresText li {
    margin-bottom: 10px;
    font-size: 1.7rem;
  }
  
  .bottomSection {
    display: flex;
    justify-content: center;
    font-size: 0.5rem;  
    padding: 40px;
    background-color: #231F20;
    color: #f4e4cd;
  }
  
  .faqSection {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none; /* Remove underline */
    font-family: 'Poppins', sans-serif; /* You can change this to any cool font you prefer */
    color: #231F20;
    padding: 20px 40px; /* Add padding to left and right sides */
    margin: 20px auto; /* Center the container */
    border-radius: 10px;
    max-width: 800px; /* Optional: limit the max width */
  }