/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero-section {
  height: 100vh;
  background: url('banner.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.middle-section {
  padding: 50px;
  background-color: #f4f4f4;
}

.bottom-section {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

.bottom-section .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  gap: 10px;
  font-size: 24px; /* Adjust the font size to make the icons bigger */
}

.social-links a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}

.social-links a:hover {
  color: inherit; /* Inherit the color from the parent element */
  transform: scale(1.1);
}